:root{
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
    --cor-de-titulos: #464646;
    --cor-fundo-azul: #EAF2ED;
    --cor-caixas: #FBFBFB;
    --azul-botoes: #2A74E4;
}

html {
    background-color: var(--cor-de-fundo);
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol, ul,li {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Sessão Menu*/

section.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    height: 10vh;
    margin: 0 153px;
}

section header {
    display: flex;
    align-items: center;
    font-weight: 700;
}

header img {
    margin-right: 13px;
    user-select: none;
}

/* Sessão lista de navegação  */

nav ul.menu__list {
    display: flex;
    justify-content: space-between;
    width: 780px;
    font-size: 16px;
}

/*Sessão Title*/

.title__bio {
    font-size: 52px;
    width: 751px;
}

.title__subsection {
    font-size: 22px;
}

.title__profile{
    width: 368px;
    height: 368px;
    border-radius: 50%;
}